# global
.idea
logs
mysql

# app nuxt
app/npm-debug.log
app/.nuxt
app/dist
app/logs
app/*.log
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/pids
app/*.pid
app/*.seed
app/*.pid.lock
app/lib-cov
app/coverage
app/.nyc_output
app/.grunt
app/bower_components
app/.lock-wscript
app/build/Release
app/node_modules/
app/jspm_packages/
app/typings/
app/.npm
app/.eslintcache
app/.node_repl_history
app/*.tgz
app/.yarn-integrity
app/.env
app/.cache
app/.next
app/.vuepress/dist
app/.serverless
app/sw.*
app/.DS_Store
app/*.swp
